<style>
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: rgb(24, 24, 218);
  height: 75px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.navbar h2 {
  opacity: 1;
  color: rgb(255, 255, 255);
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar a{
  text-decoration: none;
  color: white;
  font-family: Cabin;
}
.new-btn{
  font-weight: bold;
  border: 1px solid #fff;
  padding: .5rem 1rem;
  border-radius: 1rem;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.new-btn:hover{
   color: rgb(24, 24, 218);
   background-color: white;
}
img{
  width: 200px;
  height: 70px;
  fill: #fff;
  
}

</style>


<nav class="navbar">
  <img src="./svg/eajAtualizado.svg.svg" alt="">
     <ul>
        <a href="https://ufrn.br/"><li  class="new-btn">UFRN</li></a>
        <a href="https://eaj.ufrn.br/"><li  class="new-btn">EAJ</li></a>
        <a href="https://febrace.org.br/"><li  class="new-btn">FEBRACE</li></a>
    </ul>
  </nav>