<style>
footer{
    margin-top: -17.5px;
    color: gray;
}
footer h5 {
    margin-left: 820px;
    font-family: Cabin;
    font-size: 12px;
    
}
</style>

<footer id="foot">
    <h5>Projeto e Desenvolvimento: Julia Pereira, Richard Matheus, Josenalde Oliveira: if21@tecinfo@eaj@ufrn</h5>
</footer>