<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css" />
    <title>Painel de Dados Febrace</title>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABWklEQVR4AWIgBph2uGswkAqeb1biebZJiRFsQLtHKikaWV5sU1oJqIwcQCuMogCcNTvMtm0/23nK9rMZ5mVMaWm20rJn2zbvzj+ndV91fM53cQ4GQ95Alvb7g8PSzWQ5iCcWAAZ4h0Mh6Gg0FB2OhCKAdWaaKOIME6UaDzAQXHU4DICxH0B/lpEqzjRSu/AAfcHucPV1AnIwFPIMN6Lk6OktAFkn6rgQFxhkg4QXaJmxeTrGfY6B9mD3JkpVnIgiDWsTIChPT9+xa5is4FHLldyLEjUbAQQV6Bh12MN0maCcKuc/khQ8VKbioGI1e6VQy3TFGmbIhH50mfCMJhMgipyP4BYr8JTgJFtZJC6gDQTRAQCQGXiKF5FPtpbX4AIuQBDINNzEkcjBCiWpFlIDLuAWZA7EhYjhCSrYwgtAaLiAHpC0L19MlfEPSlVsChHjAnz++JUgUf/1vwOxuZ9wArBu/gAAAABJRU5ErkJggg==" type="image/x-icon">
</head>
<body>

    <div>
        <%- include('./components/navbar.ejs') %>
    </div>
    

    <div class="textos">
        <h1 id="oi">Bem-vindo(a), essa é a página inicial.</h1>
        <h3 id="oi2">Aqui você terá acesso ao Painel de Dados dos premiados da FEBRACE!</h3>
        <h3>Vamos lá?</h3>  
      </div>
<br>
      <div class="div_botoes">

        <input class="botoes" id="button" onclick="redirecionarParaRota('/inicio')" type="button" value="Acessar!"/>
      </div>


      
      <div>
        <%- include('./components/rodapé.ejs') %>
      </div>
      
      <script>

        function redirecionarParaRota(rota) {
          window.location.href = rota;
  
        }
      
      </script>
</body>

</html>